@tailwind base;
@tailwind components;
@tailwind utilities;


/* font */

.open-sans {
  font-family: "Open Sans", serif;
}


/* .bg-image{
  background-image: url("/assets/bg-image.svg");
 
} */




.bg-image {
  background-image: url("/assets/bg-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0C0C0C66; /* 40% opacity */
  background-blend-mode: darken;
}



.bg-image-ayurvedaTherapy {
  background-image: url("/assets/ayurvedaTherapy-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0C0C0C80; /* 50% opacity */
  background-blend-mode: darken;
}



.bg-image-postnatalCare {
  background-image: url("/assets/postnatal-care.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0C0C0C80; /* 50% opacity */
  background-blend-mode: darken;
}





/* scrollbar */


::-webkit-scrollbar {
  display: none;
}